################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FieldVisitorToSnPrivacy/CopilotIndices/17.14.1710.49791
/.vs
